<nav class="navigation">
<div class="nav-left">
  <img src="../assets/slike/logo.png"  alt="DOMS logo" routerLink="" id="logo">&nbsp;&nbsp;
</div>
<div class="nav-right">
  <a class="hover-underline" routerLink="">Pocetna</a>&nbsp;&nbsp;
  <a class="hover-underline" routerLink="/o_nama">O nama</a>&nbsp;&nbsp;
  <a class="hover-underline" routerLink="/modeli">3D Modeli</a>&nbsp;&nbsp;
  <a class="hover-underline" routerLink="/enterijeri">Enterijeri</a>&nbsp;&nbsp;
  <a class="hover-underline" routerLink="/namestaj_po_meri">Namestaj po meri</a>&nbsp;&nbsp;
  <a class="hover-underline" routerLink="/kontakt">Kontakt</a>&nbsp;&nbsp;
</div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-left">
  <p>Sva prava zadrzana</p>
  </div>
  <div class="footer-center">
    <img src="../assets/slike/logo.png"  alt="DOMS logo" id="logo_footer">&nbsp;&nbsp;
  </div>
  <div class="footer-right">
  <p>Kontakt telefon: +381690000000</p>
  <p>e-mail: domsmail.com </p>
  <p>Adresa: Karadjordjev trg 11, 11080 Beograd</p>
  <p>PIB: 00000000000</p>
  <p>MB: 0000000</p>
</div>
</footer>
