<nav class="navigation">

  <div class="nav-left">
    <button class="burger" (click)="toggleMenu()">☰</button>
    <img src="../assets/slike/LOGO.jpg" alt="dott." (click)="scrollLogo()" id="logo">&nbsp;&nbsp;
  </div>
  <div class="nav-right" [class.open]="menuOpen">
    <a class="hover-underline" routerLink=""(click)="toggleMenuRouter()">{{"HEADER.HOME"|translate}}</a>
    <a class="hover-underline" routerLink="/usluge"(click)="toggleMenuRouter()">{{"HEADER.SERVICES"|translate}}</a>
    <a class="hover-underline" routerLink="/portfolio"(click)="toggleMenuRouter()">{{"HEADER.PORTFOLIO"|translate}}</a>
    <a class="hover-underline" (click)="toggleMenuRouter()"(click)="scrollToKontakt()">{{"HEADER.CONTACT"|translate}}</a>
    <a class="hover-underline" (click)="switchLang('sr')">sr</a>
    <a class="hover-underline" (click)="switchLang('en')">en</a>
  </div>

</nav>

@if (showTopButton) {
  <button mat-icon-button class="go-to-top" (click)="scrollToTop()">
    <mat-icon>arrow_upward</mat-icon>
  </button>
}

@if (menuOpen) {
  <div class="menu-overlay" (click)="toggleMenu()"></div>
}
<router-outlet></router-outlet>

<footer class="footer" id="toKontakt">
  <div class="footer-left">
    <p>{{"FOOTER.RIGHTS"|translate}}</p>
  </div>
  <div class="footer-center">
    <img src="../assets/slike/LOGO.jpg" alt="dott." id="logo_footer">&nbsp;&nbsp;
  </div>
  <div class="footer-right">
    <p>{{"FOOTER.CONTACT"|translate}}<a href="tel:+381691214278">+381 691 21 4278</a>
    <a href="tel:+381693164288">+381 693 16 4288</a>
  </p>
  <p>e-mail: <a href="mailto:domsmail.com">office&commat;dottarchitects.com</a></p>

</div>
</footer>
