<body>

  <div class="container">
    <div class="image_wrapper">
      <img src="../../assets/slike/slideshow_1.webp" id="top_image">
    </div>
    <div class="container_middle_text">
      <p>PORTFOLIO</p>
    </div>
    <div class="bot_left_text">
      <p>established <strong>2025</strong></p>
    </div>
  </div>
  <div class="h1">
    <h1>{{"PROJECTS"|translate}}</h1>
  </div>
  <div class="image-grid">
    @for (img of images; track img) {
      <div class="image-cell">
        <img [src]="img" alt="image" />
      </div>
    }
  </div>

</body>
