.container {
  position: relative;
  display: flex;
}

.container img#top_image {
  width: 100%;
}

.container_middle_text {
  color: #fff;
  font-size: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.bot_left_text {
  position: absolute;
  color: #fff;
  font-size: smaller;
  left: 10%;
  bottom: 0%;
}

.h1 {
  padding-left:10%;
}
.table_{
  padding-left:10%;
  padding-right: 10%;
  width:100%;
  display:block;
  border-spacing: 15px;

}
.table_ img{
width:100%;
}

.image-grid {
    box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 1rem;
}

.image-cell img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
