<body>

  <div>
    <div class="container">
      <img src="../../assets/slike/portofolio_doggo_wallpaper.jpg" id="top_image">
    </div>
    <div class="container_middle_text">
      <p>portfolio</p>
    </div>
    <div class="bot_left_text">
      <p>established <strong>2025</strong></p>
    </div>
  </div>
  <div class="h1">
    <h1>Galerija projekata</h1>
  </div>
  <div class="table_">
    <tr>
      <td><img src="../../assets/slike/doggo_table_1.avif"></td>
      <td><img src="../../assets/slike/doggo_table_2.avif"></td>
      <td><img src="../../assets/slike/doggo_table_3.avif"></td>
    </tr>
    <tr>
      <td><img src="../../assets/slike/doggo_table_4.avif"></td>
      <td><img src="../../assets/slike/doggo_table_5.avif"></td>
      <td><img src="../../assets/slike/doggo_table_6.avif"></td>
    </tr>
    <tr>
      <td><img src="../../assets/slike/doggo_table_7.avif"></td>
      <td><img src="../../assets/slike/doggo_table_8.avif"></td>
    </tr>
  </div>

</body>
