<body>
  <div class="container">
    <div class="image_wrapper">
      <img src="../../assets/slike/slideshow_1.webp" id="top_image">
    </div>
    <div class="container_middle_text">
      <p>{{"SERVICES.HEAD"|translate}}</p>
    </div>
    <div class="bot_left_text">
      <p>established <strong>2025</strong></p>
    </div>
  </div>

  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/Aks2.webp"></div>
    <div class="bottom_text_section">
      <h1>{{"SERVICES.BUILDINGDESIGN"|translate}}</h1>
      <p>{{"SERVICES.BUILDINGDESIGNTEXT"|translate}}</p>
      <ol>
        @for (item of items; track item; let i = $index) {
          <li>
            <div (click)="toggle(i)">
              <h3>{{item.question |translate}}</h3>
            </div>
            <div [@expandCollapse]="activeIndex === i ? 'expanded' : 'collapsed'" class="faq-answer">
              {{item.answer |translate}}
            </div>
          </li>
        }
      </ol>
    </div>
  </div>
  <div class="bottom_container" >
    <div class="bottom_container_picture"><img src="../../assets/slike/enterijer_1.webp"></div>
    <div class="bottom_text_section">
      <h1 id="toEnterijer">{{"SERVICES.INTERIORDESIGN"|translate}}</h1>
      <ol>
        @for (item of items2; track item; let i = $index) {
          <li>
            <div (click)="toggle2(i)">
              <h3 class="faq-question">{{ item.question | translate }}</h3>
            </div>
            <ul
              [@expandCollapse]="activeIndex2 === i ? 'expanded' : 'collapsed'">
              @for (ans of (item.answer | translate); track ans)  {
                <li [innerHTML]="ans"></li>
              }
            </ul>
          </li>
        }
      </ol>
    </div>
  </div>
  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/11_copy.webp"></div>
    <div class="bottom_text_section">
      <h1>{{"SERVICES.PROJECTLEGALIZATION"|translate}}</h1>
      <p [innerHTML]="'SERVICES.PROJECTLEGALIZATIONTEXT'|translate">
      </p>
    </div>
  </div>
  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/upscalemedia-transformed.jpeg.webp"></div>
    <div class="bottom_text_section">
      <h1>{{"SERVICES.ENERGYEFFICENCY"|translate}} </h1>
      <p>{{"SERVICES.ENERGYEFFICENCYTEXT"|translate}}</p>
    </div>
  </div>
</body>
