<body>
  <div>
    <div class="container">
      <img src="../../assets/slike/usluge_dog_wallpaper.jpg" id="top_image">
    </div>
    <div class="container_middle_text">
      <p>usluge</p>
    </div>
    <div class="bot_left_text">
      <p>established <strong>2025</strong></p>
    </div>
  </div>

  <div  class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/usluge_haski_1.webp"></div>
    <div class="bottom_text_section">
      <h1>Projektovanje objekata</h1>
      <p>Projektovanje objekta obuhvata nekoliko faza, pri čemu svaka podrazumeva izradu određene vrste projektne
        dokumentacije. U skladu s tim, nudimo izradu sledećih dokumentacionih celina:</p>
      <ol>
        <li *ngFor="let item of items;let i=index">
          <div (click)="toggle(i)">
            <h3>{{item.question}}</h3>
          </div>
          <div [@expandCollapse]="activeIndex === i ? 'expanded' : 'collapsed'" class="faq-answer">
            {{item.answer}}
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/usluge_haski_2.webp"></div>
    <div class="bottom_text_section">
      <h1>Projekat enterijera</h1>
      <ol>
        <li *ngFor="let item of items2;let i=index">
          <div (click)="toggle2(i)">
            <h3 class="faq-question">{{item.question}}</h3>
          </div>
          <ul [@expandCollapse]="activeIndex2 === i ? 'expanded' : 'collapsed'" class="faq-answer">
            <li *ngFor="let ans of item.answer">{{ans}}</li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/usluge_haski_3.webp"></div>
    <div class="bottom_text_section">
      <h1>Ozakonjenje projekata</h1>
      <p>Postupak i način ozakonjenja objekata, odnosno delova objekta izgrađenih bez građevinske dozvole, odnosno
        odobrenja za izgradnju.
      </p>
      <p>
        Tehnička dokumentacija potrebna za postupak ozakonjenja objekta:
      </p>
      <ul>
        <li> Izveštaj o zatečenom stanju objekta</li>
        <li> Elaborat geodetskih radova</li>
      </ul>
    </div>
  </div>
  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/usluge_haski_4.jpeg"></div>
    <div class="bottom_text_section">
      <h1>Energetska efikasnost </h1>
      <p>Energetska efikasnost podrazumeva niz mera koje preduzimamo u cilju smanjenja potrošnje energije. Elaborat
        energerske efikasnosti je neophodna stavka u procesu dobijanja građevinske dozvole</p>
    </div>
  </div>
</body>
