.container {
  position: relative;
  display: flex;
  aspect-ratio: 16/9;
}

.container img#top_image {
  width: 100%;
}

.container_middle_text {
  color: #fff;
  font-size: 2pc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image_wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.bot_left_text {
  position: absolute;
  color: #fff;
  font-size: smaller;
  left: 10%;
  bottom: 3%;
  font-family: "Rodeon",sans-serif;
}


.bottom_container {
  margin-top: 40px;
  border-top: 100px;
  display: flex;
  width: 100%;
}

.bottom_image_section {
  flex: 1;
  overflow: hidden;
  padding-bottom: 5%;
  padding-left: 10%;
}

.bottom_image_section img {
  width: auto;
  height: 100%;
  object-position: center;
  display: block;

}

.bottom_text_section {
  /* width: 30%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* or 'flex-start' if you want top alignment */
  padding: 5%10%;
  text-align: justify;
}
.bottom_text_section h3{
  cursor: pointer;
}

.bottom_container_picture img{
    width:30vw;
  height: 100vh;
  object-fit:cover;
}
.bottom_text_section li {
  margin-bottom: 1pc;
}

.faq-list {
  list-style-type: none;
  padding: 0;
}

.faq-item {
  margin-bottom: 1rem;
  cursor: pointer;
}

.faq-question {
  margin: 0;
}

.faq-answer {
  margin-top: 0.5rem;
  margin-left: 1rem;
  list-style-type: disc;
}
