<body>
  <div>
    <div class="container">
      <img src="../../assets/slike/usluge_dog_wallpaper.jpg" id="top_image">
    </div>
    <div class="container_middle_text">
      <p>usluge</p>
    </div>
    <div class="bot_left_text">
      <p>established <strong>2025</strong></p>
    </div>
  </div>

  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/usluge_haski_1.webp"></div>
    <div class="bottom_text_section">
      <h1>Projektovanje objekata</h1>
      <p>Projektovanje objekta obuhvata nekoliko faza, pri čemu svaka podrazumeva izradu određene vrste projektne
        dokumentacije. U skladu s tim, nudimo izradu sledećih dokumentacionih celina:</p>
      <ol>
        <li>
          <h3>Usluga izrade IDR - Idejnog rešenja</h3>
        </li>
        <li>
          <h3>
            Usluga izrade IDP - Idejnog projekta
          </h3>
        </li>
        <li>
          <h3>
            Usluga izrade projekta za građevinsku dozvolu (PGD)
          </h3>
        </li>
        <li>
          <h3>
            Usluga izrade projekta za izvođenje (PZI)
          </h3>
        </li>
        <li>
          <h3>
            Usluga izrade projekta izvedenog objekta (PIO)
          </h3>
        </li>
        <li>
          <h3>
            Usluga upravljanja i nadzora nad izvođenjem
          </h3>
        </li>
        <li>
          <h3>
            Usluga izrade i podnošenja kompletne dokumentacije - od idejnog rešenja do upotrebne dozvole
          </h3>
        </li>
      </ol>
    </div>
  </div>
  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/usluge_haski_2.webp"></div>
    <div class="bottom_text_section">
      <h1>Projekat enterijera</h1>
      <ol>
        <li>
          <h3>Konsultacija</h3>
          <ul>
            <li> Izlazak na teren - do 2 sata </li>
            <li> Dva plana sa rasporedom nameštaja</li>
          </ul>
          * Moguće i online konsultacije u dogovoru sa klijentom, ukoliko je omogućena osnova prostora;
        </li>
        <li>
          <h3>Dekor</h3>
          <ul>
            <li>Dizajn bez renoviranja</li>
            <li>Izlazak na teren</li>
            <li>Moodboard (boje, materijali, teksture)</li>
            <li>Odabir tekstila (zavese, dekorativni jastuci, prekrivači)</li>
            <li>Odabir dekoracije (vaze, posuđe, tepisi)</li>
          </ul>
        </li>
        <li>
          <h3>Idejni projekat enterijera</h3>
          <ul>
            <li> Izlazak na teren</li>
            <li> Moodboard</li>
            <li> 3d vizualizacija</li>
            <li> Dve opcije sa rasporedom nameštaja</li>
            <li> Celokupan projekat enterijera</li>
          </ul>
        </li>
        <li>
          <h3> Kompletan dizajn enterijera</h3>
          <ul>
            <li>Izlazak na teren</li>
            <li>Moodboard</li>
            <li>3d vizualizacija</li>
            <li>Dve opcije sa rasporedom nameštaja</li>
            <li>Celokupan projekat enterijera (Osnova rušenja, osnova zidanja, osnova podova, osnova plafona, osnova
              rasvete
              i
              prekidača, osnova utičnica, osnova vodovoda i sanitarnih uređaja, izgledi zidova, specifikacija završnih
              materijala (tapete i pločice), specifikacija sanitarne opreme, specifikacija rasvete, specifikacija
              tapaciranog
              nameštaja)
            <li>Projekat nameštaja po meri (stolarski crteži)</li>
          </ul>
        </li>
        <li>
          <h3>Kompletan dizajn enterijera + usluga nadzora</h3>
          <ul>
            <li> Izlazak na teren</li>
            <li> Moodboard</li>
            <li> 3d vizualizacija</li>
            <li> Dve opcije sa rasporedom nameštaja</li>
            <li> Celokupan projekat enterijera (Osnova rušenja, osnova zidanja, osnova podova, osnova plafona, osnova
              rasvete i
              prekidača, osnova utičnica, osnova vodovoda i sanitarnih uređaja, izgledi zidova, specifikacija završnih
              materijala (tapete i pločice), specifikacija sanitarne opreme, specifikacija rasvete, specifikacija
              tapaciranog
              nameštaja)</li>
            <li> Projekat nameštaja po meri (stolarski crteži)</li>
            <li> Nadzor, nabavka materijala, predmer i predračun radova</li>
            <li> Nabavka neophodne opreme i materijala</li>
            <li> Komunikacija sa izvođačima</li>
          </ul>
        </li>
      </ol>

    </div>
  </div>
  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/usluge_haski_3.webp"></div>
    <div class="bottom_text_section">
      <h1>Ozakonjenje projekata</h1>
      <p>Postupak i način ozakonjenja objekata, odnosno delova objekta izgrađenih bez građevinske dozvole, odnosno
        odobrenja za izgradnju.
      </p>
      <p>
        Tehnička dokumentacija potrebna za postupak ozakonjenja objekta:
      </p>
      <ul>
        <li> Izveštaj o zatečenom stanju objekta</li>
        <li> Elaborat geodetskih radova</li>
      </ul>
    </div>
  </div>
  <div class="bottom_container">
    <div class="bottom_container_picture"><img src="../../assets/slike/usluge_haski_4.jpeg"></div>
    <div class="bottom_text_section">
      <h1>Energetska efikasnost </h1>
      <p>Energetska efikasnost podrazumeva niz mera koje preduzimamo u cilju smanjenja potrošnje energije. Elaborat
        energerske efikasnosti je neophodna stavka u procesu dobijanja građevinske dozvole</p>
    </div>
  </div>
</body>
