<body background-image="/slike/pozadina.jpg">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel volutpat diam.
Integer et sem id lectus feugiat semper ut ac nunc. Ut vitae felis ac sapien posuere eleifend.
Curabitur luctus neque et mauris ornare tempor. Phasellus non odio semper, posuere sapien nec,
venenatis leo. Phasellus et tellus et nunc convallis commodo. Cras consequat sem et lectus mattis finibus.
Sed eu neque sollicitudin, aliquet ligula maximus, varius ex. Curabitur dignissim arcu id est imperdiet scelerisque.
Proin blandit tellus quis libero aliquet commodo. Ut pretium molestie magna, non efficitur nisl viverra in.
Etiam ut pretium nibh. Pellentesque at convallis nisi, a pretium enim. Nam volutpat sem id nulla tempus molestie.
Suspendisse commodo porta erat, ut pellentesque orci fringilla nec. Vivamus justo eros, ultrices in sapien a, convallis rhoncus ligula.
ivamus placerat semper tempor.</p>
<p>
Donec nulla tellus, placerat quis laoreet eu, ultrices in ipsum. Morbi maximus pellentesque neque,
at finibus turpis suscipit non. Integer vehicula placerat nibh, a aliquet dolor laoreet id.
Aliquam ut lectus eu turpis ultrices maximus at nec ipsum. Nam rutrum justo vel ex suscipit, a accumsan libero semper.
Mauris sed ante vel velit mollis posuere eget eu augue. Integer rhoncus lorem et eros iaculis, sit amet placerat eros egestas.
Cras sem magna, fermentum a aliquam ut, ullamcorper ac velit. Maecenas semper eu nulla id fermentum. </p>
<p> Ceros nisl, ultrices
sit amet dolor vitae, aliquet feugiat odio. Suspendisse a eros dictum, malesuada augue ac, facilisis lorem. Quisque dignissim nunc
pulvinar, ultricies felis eu, auctor justo. Nullam vitae metus dapibus, tempor libero non, tristique enim. Pellentesque laoreet
convallis dui quis tincidunt. Sed interdum turpis at quam blandit pretium. Praesent pharetra scelerisque lectus, volutpat efficitur dui porttitor in.</p>
</body>

