<body>
  <div class="img">
    <img src="../../assets/slike/top_image_proba.jpg" alt="pctr" id="top_image">
    definition of timeless topology
  </div>

  <div class="top_text">
    <div class="top_text_each">
      <h4 class="h4">Nasa vizija</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget suscipit risus, vitae finibus ante. Ut nisi
        odio, gravida in cursus a, mattis in magna. Vestibulum sit amet rhoncus massa. In faucibus massa sit amet ornare
        aliquet. Donec id justo quam. Suspendisse non est condimentum, scelerisque sapien eu, fermentum orci. Duis at
        ligula ornare, blandit nisi nec, auctor odio. Aliquam erat volutpat. </p>
      <p>Vise o nama</p>
    </div>
    <div class="top_text_each">
      <h4 class="h4">Usluge</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget suscipit risus, vitae finibus ante. Ut nisi
        odio, gravida in cursus a, mattis in magna. Vestibulum sit amet rhoncus massa. In faucibus massa sit amet ornare
        aliquet. Donec id justo quam.  </p>
      <p>Vise o nasim uslugama</p>
    </div>
    <div class="top_text_each">
      <h4 class="h4">Kvalitet izrade</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget suscipit risus, vitae finibus ante. Ut nisi
        odio, gravida in cursus a, mattis in magna. Vestibulum sit amet rhoncus massa. In faucibus massa sit amet ornare
        aliquet. Donec id justo quam.Suspendisse non est condimentum, scelerisque sapien eu, fermentum orci Suspendisse non est condimentum, scelerisque sapien eu, fermentum orci. Duis at
        ligula ornare, blandit nisi nec, auctor odio. Aliquam erat volutpat. </p>
      <p>Vise o nasim proizvodima</p>
    </div>
  </div>

  <div class="middle_text">
    <p>“Na kurve pisamo"</p>
  </div>
  <div class="middle_text">
    <p>Jovan Ducic </p>
  </div>
  <div class="images_">
    <div class="images_each"><img src="../../assets/slike/download_1.jpeg"></div>
    <div class="images_each"><img src="../../assets/slike/download_2.jpeg"></div>
    <div class="images_each"><img src="../../assets/slike/download_3.jpeg"></div>
  </div>
  <div class="middle_text_header">
    <h2>LOREM IPSUM</h2>
  </div>
  <div class="middle_text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget suscipit risus, vitae finibus ante. Ut nisi
      odio, gravida in cursus a, mattis in magna. Vestibulum sit amet rhoncus massa. In faucibus massa sit amet ornare
      aliquet. Donec id justo quam. Suspendisse non est condimentum, scelerisque sapien eu, fermentum orci. Duis at
      ligula ornare, blandit nisi nec, auctor odio. Aliquam erat volutpat. </p>
  </div>
  <div class="bottom_images">
    <div><img src="../../assets/slike/dog.webp" class="bottom_images_each">
      <p>Inzenjering</p>
    </div>
    <div><img src="../../assets/slike/dog.webp" class="bottom_images_each">
      <p>Proizvodnja</p>
    </div>
    <div><img src="../../assets/slike/dog.webp" class="bottom_images_each">
      <p>Projektovanje</p>
    </div>
  </div>
  <div class="bottom_grid_text">
    <div class="bottom_grid_text_left">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget suscipit risus, vitae finibus ante. Ut nisi
        odio, gravida in cursus a, mattis in magna. Vestibulum sit amet rhoncus massa. In faucibus massa sit amet ornare
        aliquet. Donec id justo quam. Suspendisse non est condimentum, scelerisque sapien eu, fermentum orci. Duis at
        ligula ornare, blandit nisi nec, auctor odio. Aliquam erat volutpat. </p>
    </div>
    <div class="bottom_grid_text_middle">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget suscipit risus, vitae finibus ante. Ut nisi
        odio, gravida in cursus a, mattis in magna. Vestibulum sit amet rhoncus massa. In faucibus massa sit amet ornare
        aliquet. Donec id justo quam. Suspendisse non est condimentum, scelerisque sapien eu, fermentum orci. Duis at
        ligula ornare, blandit nisi nec, auctor odio. Aliquam erat volutpat. </p>
    </div>
    <div class="bottom_grid_text_right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget suscipit risus, vitae finibus ante. Ut nisi
        odio, gravida in cursus a, mattis in magna. Vestibulum sit amet rhoncus massa. In faucibus massa sit amet ornare
        aliquet. Donec id justo quam. Suspendisse non est condimentum, scelerisque sapien eu, fermentum orci. Duis at
        ligula ornare, blandit nisi nec, auctor odio. Aliquam erat volutpat. </p>
    </div>
  </div>

</body>
