<body>
  <div class="container">
    <div class="image_wrapper">
      @for (img of images; track img; let i = $index) {
        @if (i === currentIndex) {
          <img [@fade] [src]="img" alt="Slide image" id="top_image" />
        }
      }
    </div>
    <div class="top_left_text">
      <p><i>definition of<br>timeless topology</i></p>
      <div><a href routerLink="/portfolio">see our projects </a>
    </div>
  </div>
  <div class="bot_left_text">
    <p>established <strong>2025</strong></p>
  </div>
  <div class="controls">
    <button (click)="prevSlide()">❮</button>
    <button (click)="nextSlide()">❯</button>
  </div>
</div>

<div class="top_text">
  <div class="top_text_each">
    <h4 class="h4">{{"UPPERTEXT.HEADER1"|translate}}</h4>
    <p>{{"UPPERTEXT.PAR1"|translate}}
    </p>
    <a (click)="scrollToFooter()"><br>{{"UPPERTEXT.LINK1"|translate}}</a>
  </div>
  <div class="top_text_each">
    <h4 class="h4">{{"UPPERTEXT.HEADER2"|translate}}</h4>
    <p>{{"UPPERTEXT.PAR2"|translate}}
    </p>
    <a routerLink="/usluge"><br>{{"UPPERTEXT.LINK2"|translate}}</a>
  </div>
  <div class="top_text_each">
    <h4 class="h4">{{"UPPERTEXT.HEADER3"|translate}}</h4>
    <p [innerHTML]="'UPPERTEXT.PAR3'|translate">
  </p>
  <a routerLink="/portfolio">{{"UPPERTEXT.LINK3"|translate}}</a>
</div>
</div>
<br>

  <br>
    <div class="images_">
      <div class="images_each"><img src="../../assets/slike/Aks2.jpg">
        <div class="images_text">
          <p (click)="scrollToEnterijer()">{{"IMAGES.IMG1"|translate}}</p>
        </div>
      </div>
      <div class="images_each"><img src="../../assets/slike/namestaj_po_meri_1.png">
        <div class="images_text">
          <p (click)="scrollToEnterijer()">{{"IMAGES.IMG2"|translate}}</p>
        </div>
      </div>
      <div class="images_each"><img src="../../assets/slike/usluge.jpg">
        <div class="images_text">
          <p (click)="scrollToUsluge()">{{"IMAGES.IMG3"|translate}}</p>
        </div>
      </div>
    </div>
    <br><br><br><br><br>
  </body>
